
/*----------------
    COMMONS SET
------------------*/

body{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
    background-color: #ffe5b8;
    font-family: "Fredoka";
    justify-content: space-between;
    align-items: center;
}

/*----------------
    BODY
------------------*/

h2{
    
    font-weight: 600; 
    color: #faa514;
    text-shadow: black;
}

ul{
    list-style: none;
}

li{
    display: flex;
    align-items: center;
}

li img{
    margin-right: 5px;

}

#btn{
    font-weight: 600;
    background-color: #faa514;
    border: 0px;
    padding: 5px;
    border-radius: 20px;
}

#btn:hover {
    background-color: #ffc96b;
    font-size: 18px;
    transition: 0.5s;
}

#mainLogo{
    max-width: 350px ;
}